In [1]:
2+2

4

In [2]:
2**3

8

In [1]:
2**4

16

In [2]:
# string concatination
'Hello' + " world"

'Hello world'

In [4]:
5+10

15

In [6]:
"hello"*5

'hellohellohellohellohello'

In [8]:
"helloo" +5  # here it will show error becz string can not be added to int data type

TypeError: can only concatenate str (not "int") to str

In [10]:
"hello" * "Hii" # here it will show error becz string cannot be multiplied to string datatype

TypeError: can't multiply sequence by non-int of type 'str'