In [10]:
import numpy as np

In [11]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [12]:
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [13]:
print(arr[1])

[4 5 6]

In [14]:
print(arr[1:3])

[[4 5 6]
 [7 8 9]]

In [15]:
print(arr[:,1])

[2 5 8]

In [16]:
twoD_array = np.array([[1,2,3],[4,5,6],[7,8,9]])

print(twoD_array[1])
print(twoD_array[1:3])

[4 5 6]
[[4 5 6]
 [7 8 9]]

In [17]:
twoD_array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [18]:
txt = "Spinit\\ \b \rWinit"

In [19]:
txt

'Spinit\\ \x08 \rWinit'

In [20]:
print(txt)

Winitt\

In [21]:
print('The sum of {0:b} and {1:x} is {2:o}'.format(2,10,12))

The sum of 10 and a is 14

In [22]:
txt = 'Prepartion in PrepInsta'
txt[23:0:-1]

'atsnIperP ni noitraper'

In [23]:
len(txt)

23

In [24]:
key = 'azbycxdwevfugthsirjqkplomn'
#plaintext_message = 'This!'

plaintext= chr(70)+chr(76)+chr(65)+chr(71)+chr(123)+chr(66)+chr(114)+chr(97)+chr(118)+chr(111)+chr(33)+chr(33)+chr(33)+chr(33)+chr(89)+chr(79)+chr(85)+chr(32)+chr(68)+chr(73)+chr(68)+chr(32)+chr(73)+chr(84)+chr(46)+chr(46)+chr(46)+chr(46)+chr(125)

def str_xor(secret, key):
    new_key = key
    i = 0
    while len(new_key) < len(secret):
        new_key = new_key + key[i]
        i = (i + 1) % len(key)        
    return "".join([chr(ord(secret_c) ^ ord(new_key_c)) for (secret_c,new_key_c) in zip(secret,new_key)])
### END OF FUNCTION

encrypted_msg = str_xor(plaintext, key)
decrypted_msg = str_xor(encrypted_msg, key)

print("YOUR FLAG IS :: ",decrypted_msg)

YOUR FLAG IS ::  FLAG{Bravo!!!!YOU DID IT....}

In [25]:
x = ""Prepinsta's special course""

print(x)

SyntaxError: unterminated string literal (detected at line 1) (1148034.py, line 1)

In [ ]:
a = input(Ent)
print (a*2)

In [ ]:
d={'a':5,'b':3,'c':2}
s=""
for i in d.keys():
    s+=i*d[i]
print(s[3::-2])

aa

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Learning-Tableau-2019/master/Chapter02/Superstore.csv')

In [ ]:
df

,Category,City,Container,Customer ID,Customer Name,Customer Segment,Department,Discount,Item ID,Item,...,Product Base Margin,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price
0,Paper,Lombard,Small Box,3035,Mark Bailey,Home Office,Office Supplies,0.01,10074,Hammermill CopyPlus Copy Paper (20Lb. and 84 B...,...,0.36,-76,Central,11/18/1951,53,11/9/2018,Regular Air,5,Illinois,5
1,Paper,Lombard,Wrap Bag,3035,Mark Bailey,Home Office,Office Supplies,0.04,10079,Telephone Message Books with Fax/Mobile Sectio...,...,0.39,52,Central,11/19/1951,76,11/12/2016,Regular Air,1,Illinois,6
2,Pens & Art Supplies,Southbury,Wrap Bag,3385,Daniel Richmond,Corporate,Office Supplies,0.04,11012,"Premium Writing Pencils, Soft, #2 by Central A...",...,0.57,-22,East,3/1/1961,16,11/23/2017,Express Air,2,Connecticut,3
3,Binders and Binder Accessories,Coachella,Small Box,3133,Kristine Singleton,Corporate,Office Supplies,0.10,10646,Fellowes Black Plastic Comb Bindings,...,0.39,-350,West,6/27/1961,65,1/25/2018,Regular Air,8,California,6
4,Rubber Bands,Coachella,Wrap Bag,3133,Kristine Singleton,Corporate,Office Supplies,0.03,10138,Assorted Color Push Pins,...,0.52,4,West,6/28/1961,19,1/25/2018,Regular Air,1,California,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,"Scissors, Rulers and Trimmers",Dublin,Wrap Bag,2733,Marian Godwin,Small Business,Office Supplies,0.08,11255,Serrated Blade or Curved Handle Hand Letter Op...,...,0.84,-48,West,11/6/1969,38,12/16/2017,Regular Air,2,California,3
9422,Pens & Art Supplies,Cottage Grove,Wrap Bag,2291,Maxine Joyner,Corporate,Office Supplies,0.06,11154,"Dixon My First Ticonderoga Pencil, #2",...,0.56,-2,Central,3/5/1959,53,7/7/2018,Regular Air,2,Minnesota,6
9423,Appliances,Sanford,Small Box,436,Lauren Lanier,Small Business,Office Supplies,0.05,11144,Tripp Lite Isotel 8 Ultra 8 Outlet Metal Surge,...,0.59,569,East,12/2/1954,825,11/28/2017,Regular Air,4,Maine,71
9424,Paper,Paterson,Small Box,931,Norma Hull,Small Business,Office Supplies,0.07,10859,Xerox 1893,...,0.36,22,East,8/1/1962,163,7/21/2016,Regular Air,17,New Jersey,41
9425,Computer Peripherals,Taylor,Small Box,2155,Raymond Clark,Home Office,Technology,0.06,10229,Keytronic Designer 104- Key Black Keyboard,...,0.77,-315,Central,9/21/1953,242,9/5/2016,Regular Air,20,Michigan,40

In [ ]:
df.to_csv('superstore.csv')

In [ ]:
w =50
print(str(w))

50

In [ ]:
l = [3,5,7,9]
l.append([1,2,3,4])
print(l)
print(len(l[2:]))

[3, 5, 7, 9, [1, 2, 3, 4]]
3

In [ ]:
import numpy as np

In [ ]:
x5 = np.ones(5)
x5[3] = 2
print(x5)

[1. 1. 1. 2. 1.]

In [ ]:
x

array([1., 1., 1., 1., 1.])

In [ ]:
users3 = dict(brand = "harley",model = "street 123", year = 2023)

for x,y in users3.items():
    print(x,y)

brand harley
model street 123
year 2023

In [ ]:
s="Stack\\Queue\\Tree\\LinkedList"
print(s.count("\\"))

3

In [ ]:
a = {1,2,3,4,5,6}
b = {3,4,5,6}

x = a.difference(b)
x

{1, 2}

In [ ]:
print(pow(len(x),len(b)))

16

In [ ]:
pow(3,4)

81

In [ ]:
16%6

4

In [ ]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

In [ ]:
D

{1: 1, 2: '2', '1': 2, '2': 3}

In [ ]:
D[D[str(D[1])]]

'2'

In [ ]:
t1 = (1,2,3,4)
t2 = (1,4,3,4)

print(t1<t2)

True

In [ ]:
r = 12345
text = '''
Congratulations for prepsat.
''' + str(r) + '''thnak you'''

In [ ]:
text

'\nCongratulations for prepsat.\n12345thnak you'

In [ ]:
round(1.5) == round(2.5)

True

2

In [ ]:
x = 1_2_3
y = 2
print(x * 2)

246

In [ ]:
name = "Prepinsta prime"

for val in name:
    print(val)

P
r
e
p
i
n
s
t
a

p
r
i
m
e

In [ ]:
#user input of integer value
var1 = int(input('Enter the integer value :'))
#initialize an integer variable
var2 = 2+56j
#print the integer variables
print(var1)
print(var2)

Enter the integer value :47
47
(2+56j)

In [ ]:
#user input of complex value
var1 = complex(input('Enter the complex value :'))
#initialize an complex variable
var2 = 2+56j
#print the complex variables
print(var1)
print(var2)

Enter the complex value :10
(10+0j)
(2+56j)

In [ ]:
105 + 606 /* 8

SyntaxError: invalid syntax (2590748777.py, line 1)

In [ ]:
l = [1,2,3]
t = ('a','b','c')

s = ""
for i in t:
    for j in l:
        if(t.index(i)==l.index(j)):
            s+=i*j
print(s.find("bb"))

1

In [ ]:
s="malayalam"
r=s[::2]
print(r)

mlylm

In [ ]:
def greet_decorator





def name():
    print("My name in Rushikesh")
name()

My name in Rushikesh

In [4]:
# if we pass negatice indexing in the list, it will also read it form left to right only 
# example -->
bagpack=['clip','rubberband','cluture','comb','eyeliner','lipstick']
bagpack[-1:-3] # this will print an empty list as there are no elements after the elements at -1 index
print(bagpack)
bagpack[-3: -1]

['clip', 'rubberband', 'cluture', 'comb', 'eyeliner', 'lipstick']

['comb', 'eyeliner']

In [5]:
# append() -->> add values to the end of the list, you have to pass the values
# insert() -->> add values to the list at any index position, first pass the index position and then the values

# example ->>
bagpack.append("charger")
print(bagpack)

['clip', 'rubberband', 'cluture', 'comb', 'eyeliner', 'lipstick', 'charger']

In [17]:
bagpack.insert(0,"kajal")
print(bagpack)

['kajal', 'kajal', 'kajal', 'kajal', 'kajal', 'eyeliner', 'pen', 'charger']

In [18]:
# to update the values at any index -->>
bagpack[-2]= 'pen'
print(bagpack)

['kajal', 'kajal', 'kajal', 'kajal', 'kajal', 'eyeliner', 'pen', 'charger']

In [19]:
# remove() method -->> remove a value from the list, also we pass the value to remove it form the list
# if the value is not present in the list, it will generate a value error
# if the value if present multiple times, only the first instance will be deleted

# del statement - delete the value from the list, we have to pass the index position
# example -->>
print(bagpack)
del bagpack[1]
print(bagpack)

['kajal', 'kajal', 'kajal', 'kajal', 'kajal', 'eyeliner', 'pen', 'charger']
['kajal', 'kajal', 'kajal', 'kajal', 'eyeliner', 'pen', 'charger']